@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: Ubuntu, sans-serif;
    font-weight: 200;
    color: #086631
}
div {
    display: block;
}

/* headings and logos */

h1, h2 {
    font-family: Ubuntu, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #086631;
}
    
#logo {
    float: right;
    font-size: 250%;
    padding-right: 15px;
    color: white;
}

/* Nav links*/
.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/*hero image*/
#hero-image {
    height: 650px;
    width: 100%;
    background: url(../images/aran1.jpg) no-repeat center center;
    background-size: cover;
}
#hero-outer {
    height: 650px;
    width: 100%;
    overflow: hidden;
    position: relative;
}
#cover-text {
    font-size: 100%;
    font-family: Ubuntu, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    width: 250px;
    height: 95px;
    background-color: rgba(255, 123, 33, 0.8);
    bottom: 45px;
    left: 45px;
    position: absolute;
    padding: 5px;
}
#cover-text, #cover-text h2 {
    color: rgb(243, 225, 202);
}
/* Under hero image Text*/
.islands {
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 5% 5%;
}
.islands h1 {
    font-size: 38px;
    font-weight: 650;
}
/* 3 island photos and headings*/
.row{
    margin-top: 8%;
    display: flex;
    justify-content: space-between;
}
h3 {
    text-align: center;
    margin: 10px 0;
}
@media(max-width:700px) {
    .row{
        flex-direction: column;
    }
}
    .island-pic {
        position: inherit;
        overflow: hidden;
        width: 300px;
        height: 200px;
        padding: 10px 10px 10px 5%;
        display: flex;
    }
.info-text {
    font-family: Roboto, sans-serif;
    font-weight: 100;
    text-align: center;
    color: white;
    padding: 15px;
    background-color: #086631;
    height: 25%;
    width: 50%;
    margin: auto;
    margin-bottom: 5%;
}
.info-text h2{
    color:white;
}

footer{
    height: 100px;
    bottom: 0%;
    background-color: #086631;

}

.social{
    text-align: center;
    padding: 5px;
}
.social a {
    color:white;
    margin: 10px;
    font-style: normal;
    padding: 10px;;
    text-align: center;
}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
  }
  .iframe-container embed{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  #about-heading {
      text-align: center;
      padding: 20px;
      margin: 10px;
      font-size: 200%;
  }

  .sign-up-form{
      width: 300px;
      box-shadow: 0 0 4px 0 rgba(255, 123, 33, 0.8);
      background: #086631;
      padding: 50px;
      margin: 9% auto 0;
      text-align: center;
  }
  .sign-up-form h1 {
      color: white;
      margin-bottom: 25px;
  }

  .sign-up-form p {
      color: white;
  }

  .input-box {
      border-radius: 20px;
      padding: 12px;
      margin: 10px 0;
      width: 100%;
      border: 1px solid #086631;
      outline: none;
  }

  button {
      color:black;
      width: 100%;
      padding: 10px;
      border-radius: 20px;
      font-size: 15px;
      margin: 10px 0;
      cursor: pointer;
      border: none;
      outline: none;
  }

  .signup-btn {
      background-color:beige;
  }

  .sign-up-body {
      background-image:url(../images/aran1.jpg);
      background-size: cover;
      background-position: center;
  }